        body {
            background-image: url('assets/background/puddle.png');
            background-size: cover;
            background-repeat: no-repeat;
            font-family: 'Kosugi Maru', sans-serif;
            color: white;
            text-align: center;
            padding-top: 50px;
        }

        #fileInput, #fileInput2 {
            display: none;
        }

        .button-container {
            display: flex;
            flex-direction: column; /* ボタンを縦に配置 */
            align-items: center; /* 中央揃え */
        }

        .custom-upload-button {
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            margin-bottom: 20px; /* ボタン間のスペースを追加 */
            display: flex;
            align-items: center; /* アイコンを中央に配置 */
        }

        .custom-upload-button:hover {
            background-color: #0056b3;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        .custom-upload-button input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        /* 新しいアイコン画像を設定 */
        .custom-upload-button .custom-icon {
            background-image: url('assets/icon/new_icon.png');
            width: 20px; /* アイコンの幅を設定 */
            height: 20px; /* アイコンの高さを設定 */
            margin-right: 5px; /* アイコンとテキストの間隔を設定 */
        }
